$dark: rgb(20, 27, 31),
$green: rgba(23, 162, 184, 1),
$white: rgb(255, 255, 255),
$white-08: rgba(255, 255, 255, 0.8),
$black: rgb(0, 0, 0),
$black-08: rgba(0, 0, 0, 0.8)
$black-04: rgba(0, 0, 0, 0.4)
$black-03: rgba(0, 0, 0, 0.3)
