@use 'sizes'
@use 'colors'
@use 'images'

$height-xlarge: map-get(sizes.$height, "xlarge")

#portfolio
	h2
		height: map-get(sizes.$height, "small")
// github
#github, #courses
	.card
		border: none
		.card-footer,
		.card-header
				background-color: colors.$dark

#courses
	.card
		border: none
		.card-footer,
		.card-header
				background-color: colors.$green



