@use 'sizes'

#portfolio 
	h2 
		height: sizes.$height-h2-m

.card-footer.gh-card-bg,
.card-header.gh-card-bg,
.cp-projects-links-bg 
	background-color: rgb(20, 27, 31)

.card.gh-project 
	border: none
