@use 'sizes'
@use 'colors'
@use 'images'

#portfolio 
	h2 
		height: sizes.$height-small

// statistics
.statistica-card
	height: sizes.$height-xlarge
	width:  sizes.$height-xlarge
	border: 0.5rem solid colors.$green
	svg, 
	.statistica-card-points
		font-size: sizes.$font-size-large

// github
#github
	&.app-parallax-bg
		background-image: linear-gradient(colors.$black-03, colors.$black-03), images.$portfolio-github-projects
		.card
			border: none
			.card-footer,
			.card-header
				background-color: colors.$dark





