@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Colors: 

rgb(30, 37, 47) - dark,
rgb(192, 204, 216) - light,
rgb(224, 229, 235) - hover links

*/

/*------ Layout ------*/

body, html, #root {
  height: 100%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: rgb(30, 37, 47);
  width: 100%;
}

div.col-12, div.row {
  margin: 0;
  padding: 0;
  width: 100%;
}


/* ------ Main elements ------ */

#hero-h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#hero-p {
  margin: 5px;
  padding: 5px;
}

/*------ Navigation Bar------*/

.active-item {
  color: red;
}

/*.active-hash-item {
  color: green;
}*/

#nav-bar {
  background-color: rgb(30, 37, 47);
}
a.navbar-brand:hover {
  color: rgb(192, 204, 216);
  animation: rotate 1.5s;
  animation-iteration-count: infinite;
}
#achievements, a.navbar-link-style, a.navbar-brand{
  color: rgb(224, 229, 235);
  padding: 5px;
  margin: 5px;
}
a#achievements:hover {
color: rgb(192, 204, 216);
text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

li.nav-item {
  margin: 5px;
  position: relative;
  height: 100%;
}

li.dropdown.nav-item {
  margin: 0;
  padding: 0;
}

a.navbar-link-style:hover {
 text-decoration: none;
 color: white;
 
}
li.navbar-li-hash.nav-item {
  cursor: pointer;
}
li.navbar-li-hash.nav-item::after {
  content: '';
  background-color: white;
  position: absolute;
  display: block;
  margin: 2px;
  padding: 0;
  width: 100%;
  height: 2px;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
li.navbar-li-hash.nav-item:hover::after {
  transform: scale(1, 1);
}

ul.ml-auto.navbar-nav {
  align-items: center;
}
 div.dropdown-menu.dropdown-menu-right.show {
   background-color: rgb(239, 242, 245);
 }
 button.dropdown-item a {
   color: rgb(30, 37, 47);
 }
/*------ Social icons ------ */

.social-icon-item {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 35px;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.social-icon-item::after {
  content: '';
  background-color: white;
  position: absolute;
  top: 50px;
  display: block;
  margin: 2px;
  padding: 0;
  width: 100%;
  height: 2px;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
.social-icon-item:hover::after {
  transform: scale(1, 1);
}

.social-icon-item:hover {
  width: 50px;
  height: 50px;
}

.social-icons-list {
  list-style-type: none;
  width: 100%;
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-item a {
  color: white;
  padding: 3px;
  margin: 0;
}

.social-icon-item a:hover {
  color: rgb(192, 204, 216);
  animation: rotate 1.1s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(30deg);
  }
  20% {
    transform: rotateY(60deg);
  }
  30% {
    transform: rotateY(80deg);
  }
  40% {
    transform: rotateY(120deg);
  }
  50% {
    transform: rotateY(160deg);
  }
  60% {
    transform: rotateY(200deg);
  }
  70% {
    transform: rotateY(240deg);
  }
  80% {
    transform: rotateY(300deg);
  }
  90% {
    transform: rotateY(340deg);
  }
  100% 
  {
    transform: rotateY(360deg);
  }
}

/*------ Section ------*/

.section {
  margin-top: 10px;
  padding: 20px;
 
}
.section h2 {
  text-align: center;
}
/*------ Footer ------*/

#footer {
  background-color: rgb(30, 37, 47);
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 20px;
  position: relative;
  bottom: -50%;
}

.nav-links-footer {
  list-style-type: none;
}

.nav-links-f-col {
  text-align: left;
}

/*------ Home page ------ */

/*---- Hero Image section ----*/

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/HeroImage_5.jpg");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}

div#hero-image.jumbotron {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#button-cv {
  font-weight: bold;
  color: rgb(30, 37, 47);
  background-color: rgb(239, 242, 245);
}

.hero-button-col {
  display: flex;
  justify-content: flex-end;
}
/*------ About section ------*/

.parallax-about {
  background-image: url("./assets/images/HeroImage_0.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}