@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html, #root {
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.hero-image {
  background-image: linear-gradient(#00000080, rgba(0, 0, 0, 0.5)), url("./assets/images/HeroImage_0.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: white;
}

div.hero-image.jumbotron {
  margin-bottom: 0;
}

h1 {
  font-weight: bold;
}