@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Colors: 

#141b1f, rgb(20, 27, 31) - dark,
#87bdd8, rgb(135, 189, 216) - blue
rgba(121, 216, 255, 0.95) - sky blue
*/

/*------ Layout ------*/

#root {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

/*------ Link styles ------ */

.link-style-hash {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.link-style {
  color: white;
}

.link-style:hover, .link-style-hash:hover {
  color: white;
}

.rotate-animation {
  border: none;
}

.rotate-animation:hover {
  animation: rotate 1.5s;
  animation-iteration-count: infinite;
  
}

.underscore, .underscore-sections {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underscore::after, .underscore-sections::after  {
  content: '';
  background-color: #83d3fc;
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
.underscore-sections::after {
  height: 1px;
}

.underscore:hover::after, .underscore-sections:hover::after {
  transform: scale(1, 1);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(30deg);
  }
  20% {
    transform: rotateY(60deg);
  }
  30% {
    transform: rotateY(80deg);
  }
  40% {
    transform: rotateY(120deg);
  }
  50% {
    transform: rotateY(160deg);
  }
  60% {
    transform: rotateY(200deg);
  }
  70% {
    transform: rotateY(240deg);
  }
  80% {
    transform: rotateY(300deg);
  }
  90% {
    transform: rotateY(340deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* ------ Main elements ------ */

/*------ Navigation------*/
#nav-bar {
  height: 70px;
  background-color: #141b1f;
}

.navbar-collapse {
  background-color: #141b1f;
}

svg.active-item {
 color: #87bdd8;
}

.active-item::before  {
  content: '';
  background-color: #87bdd8;
  position: absolute;
  top: -5px;
  left: 45%;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

div.breadcrumb {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  height: 100%;
}

span.active.breadcrumb-item::before {
  color: white;
}

#hash-list-toggler {
  background-color: #141b1f;
  border: 2px dotted gray;
  width: 40px;
  height: 40px;
}

/*------ Social icons ------ */

.social-icon-item {
  font-size: 32px;
}

/*------ Section ------*/

/*------ Home page ------ */

/*---- Hero Image section ----*/

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/home-page/IMG_1497_1.jpg");
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*------ About section ------*/



.about-text {
  font-size: 14px;
}

.about-img {
  width: 100px;
  height: 100px;
}

/*------ Skills ------*/
.skills-parallax {
  background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(0, 0, 0, 0.25)), url("./assets/images/home-page/IMG_6072.JPG");
  height: 200px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills-icon-item svg {
  font-size: 50px;
}

.skills-icon-item {
  border: 3px dotted #65c9fb;
  background-color:  rgba(20, 27, 31, 0.9);
  color: white;
  height: 120px;
  width: 120px;
}

/*------ Current Projects ------*/
.current-projects-parallax {
  background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(0, 0, 0, 0.25)), url("./assets/images/home-page/IMG_6066.JPG");
  height: 200px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.media-img {
  width: 100px;
  height: 100px;
}


/*------ Footer ------*/

#footer {
  background-color: #141b1f;
}