.statistica {
	background-color: rgba(20, 27, 31, 1);
	width: 12.5rem;
	height: 12.5rem;
	border: 0.5rem solid rgba(23, 162, 184, 1);
}

.statistica svg {
	font-size: 2rem;
}

.stat-name {
	font-size: 0.875rem;
}

.stat-points {
	font-size: 1.125rem;
}
