/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
body,
html {
  height: 100%;
  min-height: 100vh;
}

#root {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1rem;
  background-color: #141b1f;
  min-height: 100vh;
}

h2 {
  background-color: rgba(0, 0, 0, 0.8);
  height: 6.25rem;
}

.app-green-bg {
  background-color: #17a2b8;
}

/*------ Link styles ------ */
.link-style-hash {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

.link-style,
.link-style:hover,
.link-style-hash:hover {
  color: white;
}

.rotate-animation {
  border: none;
}

.rotate-animation:hover {
  -webkit-animation: rotate 1.5s;
  animation: rotate 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.underscore,
.underscore-sections {
  position: relative;
}

.underscore::after,
.underscore-sections::after {
  content: "";
  background-color: #17a2b8;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  display: block;
  width: 100%;
  height: 0.1rem;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  -o-transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.underscore-sections::after {
  height: 0.06rem;
}

.underscore:hover::after,
.underscore-sections:hover::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  10% {
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
  20% {
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
  }
  30% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
  }
  40% {
    -webkit-transform: rotateY(120deg);
    transform: rotateY(120deg);
  }
  50% {
    -webkit-transform: rotateY(160deg);
    transform: rotateY(160deg);
  }
  60% {
    -webkit-transform: rotateY(200deg);
    transform: rotateY(200deg);
  }
  70% {
    -webkit-transform: rotateY(240deg);
    transform: rotateY(240deg);
  }
  80% {
    -webkit-transform: rotateY(300deg);
    transform: rotateY(300deg);
  }
  90% {
    -webkit-transform: rotateY(340deg);
    transform: rotateY(340deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  10% {
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
  20% {
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
  }
  30% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
  }
  40% {
    -webkit-transform: rotateY(120deg);
    transform: rotateY(120deg);
  }
  50% {
    -webkit-transform: rotateY(160deg);
    transform: rotateY(160deg);
  }
  60% {
    -webkit-transform: rotateY(200deg);
    transform: rotateY(200deg);
  }
  70% {
    -webkit-transform: rotateY(240deg);
    transform: rotateY(240deg);
  }
  80% {
    -webkit-transform: rotateY(300deg);
    transform: rotateY(300deg);
  }
  90% {
    -webkit-transform: rotateY(340deg);
    transform: rotateY(340deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=app.css.map */
