/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

#about .h2-row {
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.3)),
			to(rgba(0, 0, 0, 0.3))
		),
		url('../../../../../assets/images/home-page/about_parallax_bw.jpg');
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../../../../../assets/images/home-page/about_parallax_bw.jpg');
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../../../../../assets/images/home-page/about_parallax_bw.jpg');
}

.about-icon {
	width: 6.25rem;
	height: 6.25rem;
	font-size: 3.125rem;
	background-color: rgba(23, 162, 184, 1);
}

.about-text {
	font-size: 0.875rem;
}
